In [1]:
import pandas as pd

In [2]:
# Chemin du fichier
file_path = "brute/expat_voiture.csv"

# Lecture du fichier
df = pd.read_csv(file_path)

In [4]:
df.head(5)

,web-scraper-order,web-scraper-start-url,article,article-href,etat,marque,annee,boite_vitesse,adresse,prix,image_link-src
0,1738524391-1,https://www.expat-dakar.com/voitures?page=413,Vend Toyota fortuner très bon état 2017\n ...,https://www.expat-dakar.com/annonce/vend-toyot...,D'occasion,Toyota,2017.0,Automatique,Ouakam,20 000 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
1,1738524393-2,https://www.expat-dakar.com/voitures?page=413,Citroën C4 diesel manuel année 20016\n ...,https://www.expat-dakar.com/annonce/citroen-c4...,Venant,Citroen,2016.0,Manuelle,Keur Massar,6 000 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
2,1738524395-3,https://www.expat-dakar.com/voitures?page=413,Ford Explorer Full option 7 places\n ...,https://www.expat-dakar.com/annonce/ford-explo...,NaN,NaN,NaN,NaN,Golf,40 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
3,1738524398-4,https://www.expat-dakar.com/voitures?page=413,Vend citroen c4 cactus\n ...,https://www.expat-dakar.com/annonce/vend-citro...,D'occasion,Citroen,2015.0,Automatique,Hann maristes,5 500 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
4,1738524400-5,https://www.expat-dakar.com/voitures?page=413,Renault Duster Oroch 2019\n ...,https://www.expat-dakar.com/annonce/renault-du...,D'occasion,Renault,2019.0,Manuelle,Fass,5 900 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...

In [5]:
# Suppression des colonnes inutiles
df_cleaned = df.drop(columns=["web-scraper-order", "web-scraper-start-url", "article-href", 'article'])

In [6]:
df_cleaned.head()

,etat,marque,annee,boite_vitesse,adresse,prix,image_link-src
0,D'occasion,Toyota,2017.0,Automatique,Ouakam,20 000 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
1,Venant,Citroen,2016.0,Manuelle,Keur Massar,6 000 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
2,NaN,NaN,NaN,NaN,Golf,40 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
3,D'occasion,Citroen,2015.0,Automatique,Hann maristes,5 500 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
4,D'occasion,Renault,2019.0,Manuelle,Fass,5 900 000 F Cfa,https://i.roamcdn.net/hz/ed/listing-thumb-543w...

In [7]:
# Suppression des lignes avec des valeurs manquantes critiques (marque, année, prix)
df_cleaned = df_cleaned.dropna(subset=["marque", "annee", "prix"])

In [ ]:
# Remplacement des valeurs manquantes
df_cleaned["etat"].fillna("Inconnu", inplace=True)
df_cleaned["boite_vitesse"].fillna("Non spécifié", inplace=True)
df_cleaned["adresse"].fillna("Non précisé", inplace=True)

In [9]:
# Conversion de 'annee' en entier
df_cleaned["annee"] = df_cleaned["annee"].astype(int)

# Nettoyage et conversion de la colonne 'prix' en entier
df_cleaned["prix"] = df_cleaned["prix"].str.replace(r"\D", "", regex=True).astype(float)

In [15]:
# Réinitialisation de l'index
df_cleaned.reset_index(drop=True, inplace=True)
# Sauvegarde du fichier nettoyé
df_cleaned.to_csv("cleaned/expat_voiture_cleaned.csv", index=False)

# Affichage des premières lignes du dataframe nettoyé
df_cleaned.head()

,etat,marque,annee,boite_vitesse,adresse,prix,image_link-src
0,D'occasion,Toyota,2017,Automatique,Ouakam,20000000.0,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
1,Venant,Citroen,2016,Manuelle,Keur Massar,6000000.0,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
2,D'occasion,Citroen,2015,Automatique,Hann maristes,5500000.0,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
3,D'occasion,Renault,2019,Manuelle,Fass,5900000.0,https://i.roamcdn.net/hz/ed/listing-thumb-543w...
4,D'occasion,Chevrolet,2015,Automatique,Fass,3850000.0,https://i.roamcdn.net/hz/ed/listing-thumb-543w...